.list_post {
  .pic_thumb {
    //border: solid 1px red;
    position: relative;
    padding-top: 56.25%;
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
    }
    .img--box {
      //border: solid 1px blue;
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  }
  ._title {
    color: #000;
    position: relative;
    z-index: 9;
    font-size: 16px;
    a {
      color: #000;
      font-size: 16px;
    }
  }
  ._date {
    color: #888888;
  }
  ._drs {

  }
}

.list-group--other {
  .list-group-item {
    position: relative;
    border: none;
    color: #5b5b5b;
    display: block;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 1rem;
    background: transparent;
    &:hover {
      color: #eb891a;
    }
    &:before {
      content: '';
      display: block;
      width: 6px;
      height: 6px;
      position: absolute;
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
      background: #eb891a;
      border-radius: 100%;
    }
  }
}

.bg-gray {
  background: #f3f3f3;
}

.title_page {
  color: #ffffff;
  font-size: 22px;
}

.color-gray {
  color: #505050;
}

.list-group--menu {
  .list-group-item {
    border-radius: 0px;
    border: none;
    border-bottom: solid 1px #ffffff !important;
    background: #8a510f;
    color: #ffffff;
    display: block;
    margin-bottom: 0px;
    padding-left: 2rem;
    &:hover, &.active {
      background: #eb891a;
    }
    &:first-child {
      background: #eb891a;
      padding-left: 1rem;
    }
  }
}

.box-orange {
  border: solid 1px #eb891a;
  padding: 2rem 1rem;
}

.list-img-view {
  ._item {
    //border: solid 1px red;
    padding: 10px;
  }
}

.box-green {
  border: solid 1px;
  border-color: #006a39;
}

.read_more {
  font-size: 16px;

}

.color-orange {
  color: #eb891a;
}

// banner
.carousel_page {
  .carousel-indicators {
    //border: solid 1px red;
    width: 25%;
    right: 0px;
    left: auto;
    background: transparent;

    li {
      width: 15px;
      height: 15px;
      border-radius: 100%;
      border: solid 3px #e2d3c3;
      &.active {
        background: #eb891a;
        border-color: #eb891a;
      }
      &:before {
        //background: #8a510f;
      }
    }
  }
  .carousel-caption {
    //border: solid 1px red;
    background: #8a510f;
    //position: absolute;
    left: auto;
    right: 0px;
    top: 0px;
    width: 25%;
    height: 100%;
    ._title {
      color: #ffffff;
      a {
        color: #ffffff;
      }
    }
    .read_more {
      color: #ffffff;
    }
  }
}

.group_menu {
  background: #8a510f;
  padding: 0px 20px;
  > .row {
    margin: 0px 0px 0px 0px;
  }
  > .row > .col-xs-12 {
    //border: solid 1px red;
    padding: 0px 0px;

  }
  .group_menu--item {
    //border: solid 1px red;
    padding: 15px 0px;
  }
  .card-title {
    color: #ffffff;
    display: flex;
    align-items: center;
    //border: solid 1px red;
    height: 40px;
    font-size: 18px;
    a {

    }
    img {
      margin-right: 10px;
    }
  }
  .list-group {
    .list-group-item {
      background: #8a510f;
      border: none;
      text-transform: uppercase;
      border-bottom: solid 1px #fff;
      color: #ffffff;
      margin-bottom: 0px;
      font-size: 12px;
      position: relative;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow-x: hidden;
      font-weight: bold;
      &:before {
        content: '>';
        display: block;
        position: absolute;
        left: 5px;
        top: 10px;
      }
      &:hover {
        border-bottom: solid 1px #fff;
      }
      &:last-child {
        border-bottom: none;
        padding-bottom: 0px;
      }
    }
  }
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.highlight_school {
  //border: solid 1px red;
  .gray {
    background: #f3f3f3;
  }
  ._info_highlight {
    //border: solid 1px blue;

    ._pic_thumbnail {

      ._h {
        border: solid 1px #ffffff;
        overflow: hidden;
        img {
          display: block;
          width: 100%;
        }
        &.col-6 {
          img {
            height: 100%;
          }
        }
      }
    }
    ._drs_thumbnail {

      .title {
        a {
          color: #3e815e;
          font-size: 20px;
        }
      }
      .drs {
        font-size: 14px;
      }
    }
  }
}

.group_link_school {
  .btn {
    background: #eb891a;
    border: solid 1px #eb891a;
    color: #ffffff;
    display: block;
    transition: all 0.25s linear;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    margin-bottom: 25px;
    font-weight: bold;
    &:last-child {
      margin-bottom: 0px;
    }
    &:hover {
      background: #ffffff;
      color: #eb891a;
      border-color: #eb891a;
    }
  }
}

.new_highlight {
  background: #eb891a;
  .title_dl1 {
    font-size: 20px;
    color: #006a39;
    background: #ffffff;
    margin: -1rem !important;
    margin-bottom: 1rem !important;

  }
  .drs {
    color: #ffffff;
    font-size: 14px;
  }
  .read_more {
    color: #ffffff;
    margin-top: 1rem;
    font-size: 12px;
  }
  ._thumb {
    //border: solid 1px red;
    position: relative;
    padding-top: 56.25%;
    img {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
    }
  }
  .title_dl2 {
    //border: solid 1px red;
    font-size: 14px;
    margin-top: 1rem;
    a {
      color: #ffffff;
      font-weight: bold;
    }
  }
}

.m-n4 {
  margin: -1rem !important;
}

.mb-n4 {
  margin-bottom: -1rem;
}

.mx-n4 {
  margin-left: -1rem !important;
  margin-right: -1rem !important;
}

.content_new_home {

  .breadcrumb-link {
    //border: solid 1px red;
    .item {
      a {
        display: block;
        text-transform: uppercase;
        color: #505050;
      }
      &.active {
        a {
          color: #eb891a;
        }
      }
    }
  }
  .new_highlight {
    background: none;
    .pic_thumb {
      img {

      }
    }
    ._title {
      a {
        display: block;
        color: #86a995;
        font-size: 16px;
      }
    }
  }
  .other_new_highlight {
    //border: solid 1px yellow;
    .list-unstyled {
      .media {
        background: #ffffff;
        > * {
          width: 100px;
          //border: solid 1px red;
          img {
            display: block;
            width: 100%;
          }
        }
      }
      .media-body {
        padding-top: 10px;
        h5 {

          a {
            font-size: 16px;
            display: block;
            color: #868485;
          }
        }
      }
    }
  }
}

.list_post--title {
  //border: solid 1px red;
  ._title {
    background: #eb891a;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 10px;
    a {
      color: #ffffff;
    }
  }
}

.d-inline--caption {
  img {
    display: block;
    float: left;
    padding: 0px 15px 15px 0px;
  }
}

.group_link_school {
  &._inline {
    //display: flex;
    //flex-wrap: wrap;
    .btn {
      //width: 50%;
      //display: block;
      white-space: nowrap;
      margin-bottom: 15px;
      text-align: left;
    }
  }
}

.read_more_icon {
  text-align: center;
  color: #eb891a;
}

.lis_position {

  .item {
    //border: solid 1px red;
    .pic_thumb {
        width: 175px;
    }
    .name {
      color: #eb891a;
      font-size: 20px;

    }
    .pos {
      color: #000000;
      font-size: 16px;
    }
    .drs {
      color: #505050;
      font-size: 14px;
    }
    ._contact {
      p {
        font-size: 14px;
      }
    }
    ._link {
      a {
        color: #eb891a;
        display: block;
        text-align: right;
      }
    }
  }
}
.title_structure {
  color: #005399;
}

.list-detail {
    .title_p {
      color: #eda15e;
      font-size: 20px;
      margin-bottom: 1rem;
    }
    .caption_intro {
      color: #505050;
      font-size: 14px;
      margin-bottom: 1rem;
    }
  ol {
    //border: solid 1px red;
    padding: 0px 0px 0px 20px;
    li {
      list-style: decimal;
      color: #505050;
      font-size: 14px;
      margin-bottom: 0.5rem;
    }
  }
}
.image_list {
  //border: solid 1px red;
  display: flex;
  flex-wrap: wrap;
  margin: 0rem -0.5rem 1rem -0.5rem;
  .item {
    width: 50%;
    padding: 0.5rem;
    position: relative;
    //padding-top: 56.25%;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

