#page {
  overflow-x: hidden;
}

._disabled {
  //pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
  * {
    pointer-events: none !important;
  }
}

.breadcrumb-item {
  a {
    color: #505050;
  }
  &.active {
    color: #eb891a;
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  content: '>';
}

* {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  &:hover, &:focus, &:active {
    outline: none;
    //border: none;
    box-shadow: none !important;

  }
}

.section {
  text-align: center;
  font-size: 3em;
  background: none !important;
}

#page {

}

.top_nav {
  background: #282828;
}

._link_foo {
  color: #063662;
}

.banner_img {
  //border: solid 1px red;
  img {
    display: block;
    width: 100%;
  }
}

.img {
  img {
    max-width: none;
  }
}

.content {
  //margin-top: -50px;
  margin-bottom: 60px;
}

.transl-top {
  margin-top: -50px;
}

.menu_nav {
  //border: solid 1px red;
  margin-bottom: 40px;
  .nav-item {
    //border: solid 1px red;

    .nav-link {
      color: #006a39;
      font-weight: bold;
      padding-bottom: 0px;
      padding-top: 0px;
      position: relative;

    }
    &.active, &:hover {
      .nav-link {
        color: #005399;
      }
    }
  }
}

.menu_nav_sub {
  * {
    transition: all 0.25s linear;
  }
  .nav-item {
    margin-left: 0.5rem;
    margin-right: 0.5rem;

    .nav-link {
      background: #eb891a;
      color: #ffffff;
      border: solid 1px #eb891a;
      padding-top: 5px;
      padding-bottom: 5px;

      &:hover {
        background: #ffffff;
        color: #eb891a;
        border-color: #eb891a;
      }
    }
  }
}

.form_search {
  position: relative;
  border: solid 1px #03559a;
  border-radius: 19px;
  overflow: hidden;
  background: #fff;
  width: 210px;
  button {
    position: absolute;
    right: 0px;
    top: 0px;
    background: none;
    border: none;
  }
  input {
    color: #03559a;
    background: transparent;
    margin: 0px;
    padding-right: 42px;
    border: none;
    &:focus {
      background: transparent;
    }
  }
  input::placeholder {
    color: #03559a;
    border-radius: 19px;
  }
}

.header {
  position: relative;
  z-index: 9;
}

.menu_nav_sub {
  //border: solid 1px red;
  .nav-item {
    &:hover {
      .nav-link {
        &:before, &:after {
          opacity: 1;
        }
      }
    }
  }
  .nav-link {
    &:hover {
      & + .menu_hover {
        opacity: 1;
        pointer-events: auto;
      }
      &:before, &:after {
        opacity: 1;
      }
    }

  }
  .menu_hover {
    border: solid 1px blue;
    position: absolute;
    width: 100%;
    left: 0px;
    top: 100%;
    transform: translateY(10px);

    opacity: 0;
    pointer-events: none;
    &:hover {
      opacity: 1;
      pointer-events: visible;
      & ~ .nav-link {
        background: red;
      }
    }
    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 40px;
      //background: red;
      transform: translateY(-25px);
    }
    //min-height: 150px;
    background: #005399;

    .list_menu_sub {
      &.col-md-8 {
        padding-right: 100px;
      }
      h5 {
        color: #ffffff;
        border-bottom: solid 1px #54a9e4;
        padding-bottom: 10px;
        padding-top: 10px;
        margin-bottom: 0px;
      }
      .list_menu {
        padding: 0px 0px 0px 0px;
        &.d-flex {
          //border: solid 1px red;
          li {
            width: 50%;
          }
        }
        li {
          border-bottom: solid 1px #54a9e4;
          padding: 10px 0px;
          &:first-child {
            //padding-top: 0px;
          }
          &:last-child {
            border-bottom: none;
          }
          a {
            color: #ffffff;
            white-space: nowrap;
            display: block;
          }
        }
      }
    }

  }
}

.bg-drak {
  background: #00457f;
}

.menu_nav_sub {
  .nav-link {
    position: relative;
    &:hover {

    }
  }
  .nav-link:after, .nav-link:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    transform: translateY(-8px);
    opacity: 0;
  }

  .nav-link:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #005399;
    border-width: 10px;
    margin-left: -10px;
  }
  .nav-link:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #005399;
    border-width: 10px;
    margin-left: -10px;
  }
}
.carousel_gallery {
  .carousel-indicators {
    //border: solid 1px red;
    width: 100%;
    right: 0px;
    left: auto;
    background: transparent;
    bottom: -10px;
    margin: 0px;

    li {
      width: 15px;
      height: 15px;
      border-radius: 100%;
      border: solid 3px #e2d3c3;
      &.active {
        background: #eb891a;
        border-color: #eb891a;
      }
      &:before {
        //background: #8a510f;
      }
    }
  }
}


.loading_page {
  //border: solid 1px red;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(6, 30, 25, 0.95);
  z-index: 9999999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s linear;
  .bg_img {
    width: 185px;
    height: 75px;
    background: url($tpatch_image + "/logo.png");
    background-size: contain;
  }
}
body {
  &.loaded {
      .loading_page {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        z-index: -10000;
      }
  }
}